.leader-board {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;

  .users-list {
    width: 37em;
    height: 100%;
    overflow: auto;
    margin: 2em auto 0;
    background-color: rgba(136, 152, 170, 0.03);
    border: 1px solid #8898aa;
    border-radius: 10px;
  }
}