.Nav {
  height: 3em;
  border-bottom: 2px solid rgba(89, 190, 231, 1);

  ul {
    height: 100%;
    list-style-type: none;
    margin-left: 2em;

    li {
      align-items: center;

      span {
        margin-left: 0.5em;
      }

      a {
        text-decoration: none;
        color: black;
        padding: 1em;

        &.active {
          background: rgba(89, 190, 231, 1);
          color: white;
        }
      }

      .link:hover {
        background: rgba(89, 190, 231, 1);
        color: white;
      }
    }
  }
}